html {
    color: white;
    background-color: rgb(54, 54, 54);
}

#sidebar-expand-contract {
    display: inline;
}

#sidebar-expand-contract button {
    text-decoration: none;
    border: none;
    background-color: rgb(54, 54, 54);
    color: white;
}

#sidebar-expand-contract button:hover {
    background-color: white;
    opacity: 50%;
    color: rgb(54, 54, 54);
}

#site-title {
    display: inline;
}

/* make site title display plainly all the time */
#site-title a {
    text-decoration: none;
    color: white;
}